<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>글 상세 페이지</title>

    <script>
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const _id = urlParams.get("_id") // api에서 가져온 _id값이 어떤건지 알려줌

        $(document).ready(function () {
            get_post()
        })

        function get_post() {
            $.ajax({
                type: "GET",
                url: `/api/postTest/${_id}`,
                data: {},
                success: function (response) {
                    console.log(response)
                    let name = response['posts']['name']
                    let title = response['posts']['title']
                    let postTime = response['posts']['postTime']
                    let _id = response['posts']['_id']
                    let intext = response['posts']['intext']

                    let temp_html = `<label>작성자: ${name}</label><br>
                                    <label>제목: ${title}</label><br>
                                    <label>게시일: ${postTime}</label><br>
                                    <label>글 내용<br>${intext} </label><br>`


                    $('#detail').append(temp_html)



                }
            })
        }

        function deletePost() {
            let pwPrompt = prompt('비밀번호를 입력하세요')

            $.ajax({
                type: "DELETE",
                url: `/api/postTest/${_id}`,
                data: {
                    pwPrompt: pwPrompt
                },
                success: function (response) {

                    if (response['result'] === 'success') {
                        alert('삭제 성공')
                        window.location.replace('/')
                    } else {
                        alert('비밀번호를 확인해주세요')
                    }
                }
            })
        }

        function goToList() {
            window.location.href = "/"
        }
        function goToEdit() {
            window.location.href = `/edit?_id=${_id}`
        }



    </script>
</head>

<body>

    <div id="detail">

    </div>
    <button id="edit" onclick="goToEdit()">수정하기</button> <button id="delete" onclick="deletePost()">삭제하기</button>
    <button id="list" onclick="goToList()">목록으로</button>

</body>

</html>