<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>글 상세 페이지</title>

    <script>
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const _id = urlParams.get("_id") // api에서 가져온 _id값이 어떤건지 알려줌

        $(document).ready(function () {
            get_post()
            getComment()
        })

        function get_post() {
            $.ajax({
                type: "GET",
                url: `/api/postTest/${_id}`,
                data: {},
                success: function (response) {
                    let name = response['posts']['name']
                    let title = response['posts']['title']
                    let postTime = response['posts']['postTime']
                    let _id = response['posts']['_id']
                    let intext = response['posts']['intext']

                    let temp_html = `<label>작성자: ${name}</label><br>
                                    <label>제목: ${title}</label><br>
                                    <label>게시일: ${postTime}</label><br>
                                    <label>글 내용<br>${intext} </label><br>`


                    $('#detail').append(temp_html)



                }
            })
        }

        function deletePost() {
            let pwPrompt = prompt('비밀번호를 입력하세요')

            $.ajax({
                type: "DELETE",
                url: `/api/postTest/${_id}`,
                data: {
                    pwPrompt: pwPrompt
                },
                success: function (response) {

                    if (response['result'] === 'success') {
                        alert('삭제 성공')
                        window.location.replace('/')
                    } else {
                        alert('비밀번호를 확인해주세요')
                    }
                }
            })
        }

        function goToList() {
            window.location.href = "/"
        }
        function goToEdit() {

            let pwPrompt = prompt('비밀번호를 입력하세요')
            $("#postList").empty();
            $.ajax({
                type: "GET",
                url: `/api/postTest/${_id}`,
                data: {},
                success: function (response) {
                    let pw = response['posts']['pw']
                    if (pwPrompt === pw) {
                        window.location.href = `/edit?_id=${_id}`
                    } else {
                        alert('비밀번호를 확인하세요')
                    }
                }
            })
        }

        function postComment() {
            let comment = $("#comment").val()

                $.ajax({
                    type: "POST",
                    url: `/api/postComment/${_id}`,
                    data: {
                        comment_give: comment
                    },
                    success: function (response) {
                        if (comment !== "") {
                            alert('저장 완료')
                            window.location.reload()
                        } else {
                            alert("빈칸을 입력해주세요")
                        }
                    },
                });
        }

        function getComment() {
            $("#commentList").empty();
            $.ajax({
                type: "GET",
                url: `/api/getComment/${_id}`,
                data: {},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let userId = response[i]['userId']
                        let comment = response[i]['comment']
                        let postTime =response[i]['postTime']
                        let commentId = response[i]['_id']

                        let temp_html = `<br>
                            <div id="${commentId}1" style="display: block;">
                            작성자:${userId}, 내용:${comment}, 작성일시:${postTime} 
                            <button onclick="editComment('${commentId}')" value="">수정</button> 
                            <button onclick="delComment('${commentId}')" value="">삭제</button>
                            </div>
                            <br>
                            <div id="${commentId}2" value="${commentId}" style="display: none;">
                            <input type="text" name="editComment" id="editComment"><button value ="${commentId}" onclick="editSubmit('${commentId}')">수정완료</button>
                            </div>
                        `

                        $('#commentList').append(temp_html)
                    }
                }
            });
        }

        function delComment(value) {
            $.ajax({
                type: "DELETE",
                url: `/api/delComment/${_id}`,
                data: {
                    value: value
                },
                success: function (response) {
                    alert('삭제되었습니다');
                    window.location.reload();
                },
                error: function (xhr, status, err) {
                    if(xhr.status === 400) {
                        alert('본인의 글만 삭제가능합니다')
                    }
                }
            })
        }

        function editComment(value) {
            $.ajax({
                type: "POST",
                url: `/api/editComment/${_id}`,
                data: {
                    value: value
                },
                success: function (response) {
                    $('input[name=editComment').attr('value', response)
                    $(`#${value}`+'1').hide();
                    $(`#${value}`+'2').show();
                },
                error: function (xhr, status, err) {
                    if(xhr.status === 400) {
                        alert('본인의 글만 수정가능합니다.')
                    }
                }
            })

        }

        function editSubmit(value) {
            let editComment = $("#editComment").val()
            $.ajax({
                type: "PATCH",
                url: `/api/editSubmit/${_id}`,
                data: {
                    value: value,
                    editComment_give: editComment
                },
                success: function (response) {
                    alert('수정완료')
                    window.location.reload()
                }
            })
        }

    </script>
</head>

<body>

    <div id="detail">

    </div>
        <button id="edit" onclick="goToEdit()">수정하기</button> <button id="delete" onclick="deletePost()">삭제하기</button>
        <button id="list" onclick="goToList()">목록으로</button>
    <hr>
        <% if (user)  { %>
        <%= user %> 접속 중<br>
        <input type="text" id="comment"> <button onclick="postComment()">댓글 등록</button>
        <% } else { %>
            댓글을 등록하려면 로그인이 필요합니다. <a href="/">로그인하기</a>
        <% } %>
    <div id="commentList">

    </div>
    




</body>

</html>