<!doctype html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>글 목록 페이지</title>


    <script>
        $(document).ready(function () {
            get_list()
        })

        function get_list() {
            $("#postList").empty();
            $.ajax({
                type: "GET",
                url: `/api/postTest`,
                data: {},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let count = response.length - i
                        let name = response[i]['name']
                        let title = response[i]['title']
                        let postTime = response[i]['postTime']
                        let _id = response[i]['_id']

                        let temp_html = `<tr>
                                            <th scope="row">${count}</th>
                                            <td>${name}</td>
                                            <td><a href="/postTest?_id=${_id}/">${title}</td>
                                            <td>${postTime}</td>
                                        </tr>`

                        $('#postList').append(temp_html)
                    }
                }
            });
        }

        function goToWrite() {
            window.location.href = "/write"
        }
        function signUp() {
            window.location.href = '/signUp'
        }

        function login() {
            let id = $("#id").val()
            let pw = $("#pw").val()
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    alert("로그인 되었습니다")
                    window.location.href = '/'
                },
                error : function (xhr, status, error) {
                    if(xhr.status === 400) {
                        alert('아이디와 비밀번호를 확인하세요')
                    }
                }
           });
        }

        function delCookie() {
            document.cookie = 'user=; expires=Thu, 18 Dec 2013 12:00:00 GMT'
            window.location.reload()
        }       
    </script>
</head>

<body>
    <% if (!user) { %>
    ID:<input type="text" id="id"> PW:<input type="password" id="pw"> <button onclick="login()">로그인</button> <button onclick="signUp()">회원가입</button>
    <% } else { %>
    <%= user %> 로그인 중입니다. <button onclick="delCookie()">로그아웃</button>
    <% } %>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">작성자</th>
                <th scope="col">제목</th>
                <th scope="col">게시일</th>
            </tr>
        </thead>
        <tbody id="postList">
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
        </tbody>

    </table>
    <button onclick="goToWrite()">글 작성</button>

</body>

</html>