<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <title>메인 페이지</title>

    <script>
        function signUp() {
            window.location.href = '/signUp'
        }

        function login() {
            let id = $("#id").val()
            let pw = $("#pw").val()
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {
                    id_give: id,
                    pw_give: pw
                },
                success: function (response) {
                    alert("로그인 되었습니다")
                    window.location.href = '/list'
                },
                error : function (xhr, status, error) {
                    if(xhr.status === 400) {
                        alert('아이디와 비밀번호를 확인하세요')
                    }
                }
           });
        }
    </script>
</head>
<body>
    ID:<input type="text" id="id"> PW:<input type="password" id="pw"> <button onclick="login()">로그인</button> <button onclick="signUp()">회원가입</button>

</body>
</html>